body {
    background: url('./img/weather.png') no-repeat center center;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-box{
    color: #bc038b;
    border: 3px solid #fff;
    padding: 50px;
    border-radius: 30px;
    margin: 10px;
    background-color: rgb(255, 248, 235); opacity: 0.76;
    transition: all 0.3s forwards;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.city{
    font-size: 2.3em;
    color: #bc038b;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
}
.temp{
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.time {
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    color: rgb(45, 106, 220);
    margin: 10px;

}
.description{
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
    font-weight: medium;
    margin: 10px;

}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.btn-container button {
    margin: 10px;
    padding: 10px 10px;
    border: 2px solid #f5f2f2;
    border-radius: 20px;
    /* background-color: #ffffff; */
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 1s;
}
.btn-container button:hover {
    border : 2px solid #fe00ba;
}


/* == iPad MINI == */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.selector-01 { margin: 10px; }
	.selector-02 { margin: 10px; }
	.selector-03 { margin: 10px; }
    .container{
        margin: auto;
    }
    body {
        background: url('./img/weather.png')center center no-repeat;
        background-size:150vh;
  }
  .btn-container {
    margin-top: 2em;
    width: 100%;
  }
  .weather-box{
    margin-top: -100px;
    padding: 37px;
}
}


/* iPhone 14 Pro Max */
@media only screen
    and (device-width: 430px) 
    and (device-height: 932px) 
    and (-webkit-device-pixel-ratio: 3) {
    .container{
        margin: auto;
    }
    body {
        background: url('./img/weather.png')center center no-repeat;
        background-size:150vh;
        }
.btn-container {
    margin-top: 0.5em;
    width: 80%;
    justify-content: center;
    align-self: center;;
    }
    .weather-box{
        margin-top: -70px;
        padding: 40px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 414px) {
    .container{
        margin: auto;
    }
    body {
        background: url('./img/weather.png')center center no-repeat;
        background-size:150vh;
        }
.btn-container {
    margin-top: 0.5em;
    width: 80%;
    justify-content: center;
    align-self: center;;
    }
    .weather-box{
        margin-top: -60px;
        padding: 37px;
    }
}
